<!DOCTYPE HTML>

<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>Hi, {{name}} - name</div>
<a href="/main">main</a>
<a href="/greeting">greeting</a>
<a href="/">slash</a>
<hr/>

</body>
</html>