<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>{{some}} - some</div>
<hr/>
<a href="/main">main</a>
<a href="/greeting">greeting</a>
<a href="/">slash</a>
<hr/>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<hr/>
<div>
    <div>Форма:</div>
    <form method="post">
        <label>
            text
            <input type="text" name="text" placeholder="Введите сообщение"/>
        </label>
        <label>
            tag
            <input type="text" name="tag" placeholder="Tэг"/>
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить</button>
    </form>
</div>
<hr/>
<div>
    <form method="post" action="filter">
        <label>
            filter
            <input type="text" name="filter">
        </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Найти</button>
    </form>
</div>
<div style="border: 3px solid #555">
    <div>Список сообщений из базы postgres:</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        </div>
    {{/messages}}
</div>

</body>
</html>